<html>
  <head>
      <title>Django Girls blog</title>
  </head>
  <body>
      <div>
        <h1><a href="">Django Girls Blog</a></h1>
        <p>I'm a girl. Who's going to argue with me?</p>
      </div>

      <div>
          <p>published: 14.06.2014, 12:14</p>
          <h2><a href="">My first post</a></h2>
          <p>Whatever you think this is, you are wrong</p>
      </div>

      <div>
          <p>published: 10.07.2016, 22:14</p>
          <h2><a href="">My second post</a></h2>
          <p>My butt itches.</p>
      </div>
  </body>
</html>
